# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# Vercel
.vercel

# Env
.env
.env.local
.env.*.local

# Node (if build step added later)
node_modules/
.npm
